@keyframes move {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10, 10);
  }
  to {
    transform: translate(20, 20);
  }
}

@font-face {
  font-family: AA BadaBoom BB;
  src: url(/font/aa_badaboom_bb.ttf);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

li,
ul {
  list-style-type: none;
}

body {
  position: relative;
  font-family: Merriweather Sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.05;
}

*,
body,
button,
input,
textarea,
select {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 125px;
  padding-bottom: 125px;
  margin-right: auto;
  margin-left: auto;
  width: 58.7%;
  max-width: 821px;
  min-width: 461px;
}

.hero-heder {
  text-align: center;
  font-family: AA BadaBoom BB;
  font-size: 54px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fcc211;
  border-top-right-radius: 10px;
}

@media screen and (min-width: 620px) {
  .hero-heder {
    font-size: 70px;
  }
}

.hero-text {
  max-width: 550px;
  width: 66%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  margin-bottom: 36px;
}

@media screen and (min-width: 620px) {
  .hero-text {
    font-size: 18px;
  }
}

.hero-button {
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border: 0px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero-button:hover .hero-button-svg,
.hero-button:focus .hero-button-svg {
  filter: blur(2px);
  filter: drop-shadow(0 10px 10px #e9453a);
  transition: all 0.5s ease;
  fill: #e9453a;
}

.hero-button:hover ~ .hero-level .second-place {
  animation: move 4000ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

.hero-button:hover ~ .hero-level .first-place {
  animation: move 4000ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

.hero-button:hover ~ .hero-level .third-place {
  animation: move 4000ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

.hero-button-svg {
  position: relative;
  width: 240px;
  height: 51px;
  fill: #e93e3a;
}

.hero-button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;
  font-family: Merriweather Sans;
}

@keyframes move {
  0% {
    top: 0px;
    scale: 100%;
  }
  25% {
    top: 20px;
    scale: 110%;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0px;
    scale: 100%;
  }
}

.hero-level {
  display: flex;
  margin-top: 83px;
  padding-bottom: 130px;
}

.hero-level-place {
  position: relative;
  z-index: -1;
  width: 142px;
  height: 173px;
  border-radius: 5px;
}

@media screen and (min-width: 620px) {
  .hero-level-place {
    width: 183px;
  }
}

.hero-level-place:not(:last-child) {
  margin-right: 30px;
}

@media screen and (min-width: 620px) {
  .hero-level-place:not(:last-child) {
    margin-right: 40px;
  }
}

.hero-level-icon {
  position: relative;
  top: -68px;
  right: -15px;
  width: 147px;
  height: 197px;
}

@media screen and (min-width: 620px) {
  .hero-level-icon {
    width: 153px;
  }
}

.hero-level-icon-count {
  position: absolute;
  font-family: AA BadaBoom BB;
  font-size: 30px;
  color: white;
  bottom: 32px;
  left: 33%;
}

@media screen and (min-width: 620px) {
  .hero-level-icon-count {
    bottom: 12px;
    left: 44%;
  }
}

.hero-level-icon-count-bg {
  position: absolute;
  width: 30px;
  height: 50px;
  bottom: 22px;
  left: 28%;
}

@media screen and (min-width: 620px) {
  .hero-level-icon-count-bg {
    width: 40px;
    bottom: 0;
    left: 36%;
  }
}

.hero-level-icon-img {
  position: absolute;
  bottom: 68px;
  left: 26px;
  width: 60px;
  height: auto;
  border-radius: 5px;
}

@media screen and (min-width: 620px) {
  .hero-level-icon-img {
    bottom: 57px;
    left: 35px;
    width: 80px;
    height: auto;
  }
}

.hero-level-icon-svg {
  position: absolute;
  fill: #c7c7c7;
  width: 115px;
  height: 176px;
}

@media screen and (min-width: 620px) {
  .hero-level-icon-svg {
    width: 153px;
  }
}

.hero-level-bottom {
  position: absolute;
  bottom: -65px;
  right: -2px;
}

@media screen and (min-width: 620px) {
  .hero-level-bottom {
    bottom: -99px;
  }
}

.hero-level-bottom-svg {
  width: 145px;
  height: 113px;
  background-color: black;
  border-radius: 10px;
}

@media screen and (min-width: 620px) {
  .hero-level-bottom-svg {
    width: 183px;
    height: 110px;
  }
}

.hero-level-bottom-name {
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 3px solid;
  border-radius: 10px;
  width: 105px;
  height: 30px;
}

@media screen and (min-width: 620px) {
  .hero-level-bottom-name {
    top: -14px;
  }
}

.hero-level-bottom-info {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 2.3;
}

@media screen and (min-width: 620px) {
  .hero-level-bottom-info {
    font-size: 21px;
    line-height: 1.3;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.info-top {
  top: 30px;
}

.info-bottom {
  bottom: 20px;
  color: #fcc211;
}

.first-icon {
  width: 148px;
  height: 234px;
  right: -3px;
}

@media screen and (min-width: 620px) {
  .first-icon {
    width: 165px;
    right: -10px;
  }
}

.first-count {
  font-size: 45px;
  bottom: 7px;
  left: 60px;
}

@media screen and (min-width: 620px) {
  .first-count {
    font-size: 50px;
    bottom: -9px;
    left: 72px;
  }
}

.first-bg {
  width: 57px;
  height: 42px;
  fill: url(#first);
  bottom: 10px;
  left: 28%;
}

@media screen and (min-width: 620px) {
  .first-bg {
    height: 57px;
    bottom: -12px;
    left: 33%;
  }
}

.first-img {
  width: 73px;
  height: auto;
  bottom: 58px;
  left: 31px;
}

@media screen and (min-width: 620px) {
  .first-img {
    width: 89px;
    height: auto;
    bottom: 53px;
    left: 38px;
  }
}

.first-svg {
  fill: #fcc211;
  width: 136px;
  height: 234px;
}

@media screen and (min-width: 620px) {
  .first-svg {
    width: 165px;
  }
}

.first-bottom {
  border: 1px solid #fcc211;
  width: 147px;
}

@media screen and (min-width: 620px) {
  .first-bottom {
    width: 186px;
  }
}

.first-name {
  background-color: #fcc211;
  border-color: #fcc211;
}

.first-place {
  height: 222px;
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(255, 184, 74, 0.3) 100%);
}

.first-position {
  right: -2px;
  bottom: -69px;
}

@media screen and (min-width: 620px) {
  .first-position {
    right: -3px;
    bottom: -102px;
  }
}

.second-bg {
  fill: url(#second);
}

.second-svg {
  fill: #c7c7c7;
}

.second-bottom {
  border: 1px solid #c7c7c7;
  transform: matrix(-1, -0.03, 0.03, 1, 0, 0);
}

.second-name {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
}

.second-place {
  margin-top: 50px;
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(217, 208, 228, 0.3) 100%);
}

.third-bg {
  fill: url(#third);
}

.third-svg {
  fill: #be8d69;
}

.third-bottom {
  border: 1px solid #be8d69;
  transform: matrix(-1, 0.03, 0.03, 1, 0, 0);
}

.third-name {
  background-color: #be8d69;
  border-color: #be8d69;
}

.third-place {
  margin-top: 50px;
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(238, 202, 148, 0.3) 100%);
}

.hero-table {
  table-layout: fixed;
  width: 100%;
  border-radius: 10px;
  border-spacing: 0;
}

.hero-table-cap {
  font-family: AA BadaBoom BB;
  text-align: center;
  font-size: 35px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #fcc211;
  padding-bottom: 78px;
}

.hero-table-box {
  background-image: url(/img/Group.png);
  background-position: bottom -29px left -3px;
  background-repeat: repeat-x;
  width: 98%;
}

.hero-table-body {
  height: 38px;
  align-items: center;
  background-color: #dcdcdc;
}

.hero-table-body :last-child {
  padding-right: 47px;
  text-align: end;
}

.hero-table-body :first-child {
  max-width: 261px;
  min-width: 100px;
  padding-left: 34px;
  text-align: start;
}

.hero-table-body-third {
  text-align: end;
  width: 80px;
}

@media screen and (min-width: 860px) {
  .hero-table-body-third {
    width: 141px;
  }
}

.hero-table-body-second {
  width: 100px;
}

@media screen and (min-width: 820px) {
  .hero-table-body-second {
    width: 141px;
  }
}

.hero-table-body-four {
  width: 237px;
}

.hero-table-btn {
  position: relative;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border: 0px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: auto;
  margin-left: auto;
  margin-top: 27px;
}

.hero-table-btn-svg {
  position: relative;
  width: 240px;
  height: 51px;
  fill: white;
}

.hero-table-btn-span {
  font-family: Merriweather Sans;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

td {
  border-bottom: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  text-align: start;
}

.vector {
  background-repeat: no-repeat;
  background-position: bottom 6px left 24px;
}

.first {
  background-image: url(/img/svg/Vector1.svg);
}

.second {
  background-image: url(/img/svg/Vector2.svg);
}

.third {
  background-image: url(/img/svg/Vector3.svg);
}

.header {
  background-color: #fff;
  border-top-right-radius: 10px;
}

.first3place {
  background-color: #f3f3f3;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-radius {
  border-radius: 10px;
  overflow: hidden;
}

.bg-container-up {
  width: 100%;
  height: 752px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -200;
  background-image: linear-gradient(180deg, rgba(5, 7, 26, 0) 68.13%, #05071a 99.19%), linear-gradient(270deg, rgba(5, 7, 26, 0) 1.41%, rgba(5, 7, 26, 0.86) 32.32%, rgba(5, 7, 26, 0.69) 46.2%, rgba(5, 7, 26, 0.84) 61.48%, rgba(5, 7, 26, 0) 71.8%), url(./img/02_TrollsBridge2_BackgroundUP.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .bg-container-up {
    background-image: linear-gradient(180deg, rgba(5, 7, 26, 0) 68.13%, #05071a 99.19%), linear-gradient(270deg, rgba(5, 7, 26, 0) 1.41%, rgba(5, 7, 26, 0.86) 32.32%, rgba(5, 7, 26, 0.69) 46.2%, rgba(5, 7, 26, 0.84) 61.48%, rgba(5, 7, 26, 0) 71.8%), url(./img/02_TrollsBridge2_BackgroundUP@x2.jpg);
  }
}

.bg-container-down {
  width: 100%;
  height: 788px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -201;
  background-image: linear-gradient(180deg, #05071a -1.58%, rgba(5, 7, 26, 0) 52.62%), linear-gradient(180deg, rgba(5, 7, 26, 0) 64.74%, #05071a 99.19%), linear-gradient(270deg, rgba(5, 7, 26, 0) 1.41%, rgba(5, 7, 26, 0.56) 22.46%, rgba(5, 7, 26, 0.8) 46.2%, rgba(5, 7, 26, 0.592) 69.94%, rgba(5, 7, 26, 0) 87.41%), url(./img/02_TrollsBridge2_Backgroundbottom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .bg-container-down {
    background-image: linear-gradient(180deg, #05071a -1.58%, rgba(5, 7, 26, 0) 52.62%), linear-gradient(180deg, rgba(5, 7, 26, 0) 64.74%, #05071a 99.19%), linear-gradient(270deg, rgba(5, 7, 26, 0) 1.41%, rgba(5, 7, 26, 0.56) 22.46%, rgba(5, 7, 26, 0.8) 46.2%, rgba(5, 7, 26, 0.592) 69.94%, rgba(5, 7, 26, 0) 87.41%), url(./img/02_TrollsBridge2_Backgroundbottom@x2.jpg);
  }
}

.troll {
  position: absolute;
  z-index: -100;
  top: 43%;
  transform: translate(0, -50%);
  width: 431px;
  height: 481px;
}

.right {
  left: 4%;
  background-image: linear-gradient(180deg, rgba(5, 7, 26, 0) 50%, #09091c 92.17%), url(./img/03_TrollsBridge2_Characterright.png);
  background-repeat: no-repeat;
  top: 43%;
}

.left {
  background-image: linear-gradient(180deg, rgba(5, 7, 26, 0) 50%, #09091c 92.17%), url(./img/01_TrollsBridge2_Characterleft.png);
  background-repeat: no-repeat;
  right: 2%;
  display: none;
}

@media screen and (min-width: 620px) {
  .left {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */