@font-face {
  font-family: AA BadaBoom BB;
  src: url(../font/aa_badaboom_bb.ttf);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

li,
ul {
  list-style-type: none;
}

body {
  position: relative;
  font-family: Merriweather Sans;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.05;
}

*,
body,
button,
input,
textarea,
select {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 58.7%;
  max-width: 821px;
  min-width: 310px;
}

@media screen and (min-width: 700px) {
  .hero {
    padding-top: 125px;
    padding-bottom: 125px;
  }
}

.hero__heder {
  overflow-wrap: break-word;
  text-align: center;
  font-family: AA BadaBoom BB;
  font-size: 50px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fcc211;
  border-top-right-radius: 10px;
}

@media screen and (min-width: 700px) {
  .hero__heder {
    font-size: 70px;
  }
}

.hero__text {
  overflow-wrap: break-word;
  max-width: 550px;
  width: 66%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  line-height: 1.5;
  color: white;
  margin-bottom: 36px;
}

@media screen and (min-width: 700px) {
  .hero__text {
    font-size: 18px;
  }
}

.hero__button:hover ~ .pedestal-box .pedestal-place_second-place {
  -webkit-animation: move 4000ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
          animation: move 4000ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

.hero__button:hover ~ .pedestal-box .pedestal-place_first-place {
  -webkit-animation: move 4000ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
          animation: move 4000ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

.hero__button:hover ~ .pedestal-box .pedestal-place_third-place {
  -webkit-animation: move 4000ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
          animation: move 4000ms cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

@-webkit-keyframes move {
  0% {
    top: 0px;
    scale: 100%;
  }
  25% {
    top: 10px;
    scale: 110%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
    scale: 100%;
  }
}

@keyframes move {
  0% {
    top: 0px;
    scale: 100%;
  }
  25% {
    top: 10px;
    scale: 110%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
    scale: 100%;
  }
}

.hero__button {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-perspective: 200px;
          perspective: 200px;
  border: 0px solid;
  font-weight: bold;
  font-size: 18px;
  font-family: Merriweather Sans;
  padding-bottom: 17px;
  padding-top: 17px;
  padding-right: 83px;
  padding-left: 83px;
  position: relative;
  cursor: pointer;
  max-width: 100%;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0px solid #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero__button::after {
  content: "";
  z-index: -1;
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 0;
  top: 0;
  cursor: pointer;
  background-color: #e93e3a;
  border: 1px solid #e93e3a;
  border-radius: 15px;
  /*     outline: 1px solid transparent; */
  -webkit-transform: rotate3D(1, 0, 0, -15deg);
          transform: rotate3D(1, 0, 0, -15deg);
}

.hero__button:hover, .hero__button:focus {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-filter: drop-shadow(0 10px 10px #e9453a);
          filter: drop-shadow(0 10px 10px #e9453a);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.pedestal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 83px;
  padding-bottom: 130px;
}

.pedestal-place {
  font-size: 3vw;
  position: relative;
  width: 9.15em;
  height: 8.65em;
  border-radius: 5px;
}

@media screen and (min-width: 700px) {
  .pedestal-place {
    font-size: 20px;
  }
}

.pedestal-place:not(:last-child) {
  margin-right: 2em;
}

.pedestal-up {
  position: relative;
  top: -3.4em;
  right: -0.75em;
  height: 9.85em;
  width: 7.65em;
}

.pedestal-up__place-number {
  position: absolute;
  font-family: AA BadaBoom BB;
  font-size: 1.5em;
  color: white;
  bottom: 0.4em;
  left: 44%;
}

.pedestal-up__count-bg {
  position: absolute;
  height: 2.5em;
  width: 2em;
  bottom: 0;
  left: 36%;
}

.pedestal-up__hero {
  position: absolute;
  border-radius: 5px;
  bottom: 2.85em;
  left: 1.75em;
  width: 4em;
  height: auto;
}

.pedestal-up__icon-svg {
  position: absolute;
  fill: #c7c7c7;
  height: 8.8em;
  width: 7.65em;
}

.pedestal-bottom {
  position: relative;
  top: -1.8em;
  width: 9.15em;
  height: 5.5em;
  z-index: 1;
}

.pedestal-bottom__name {
  position: relative;
  top: -0.93em;
  right: -2.64em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-align: center;
  padding-top: 0.36em;
  font-size: 0.7em;
  border: 3px solid;
  border-radius: 10px;
  width: 7.5em;
  height: 2.15em;
}

.pedestal-bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-weight: bold;
  padding-bottom: 0.34em;
  font-size: 1.05em;
  line-height: 1.3;
  padding-left: 1.42em;
  padding-right: 1.42em;
}

.pedestal-bottom__info_info-gold {
  color: #fcc211;
}

.pedestal-bottom__info span:first-child {
  width: 2.1em;
}

.pedestal-bottom__info span:last-child {
  width: 60%;
}

.pedestal-bottom__info span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .first */
.pedestal-up_first-icon {
  height: 11.7em;
  width: 8.25em;
  right: -0.5em;
}

.pedestal-up__place-number_first-count {
  font-size: 2.5em;
  bottom: -0.18em;
  left: 1.44em;
}

.pedestal-up__count-bg_first-bg {
  width: 2.85em;
  fill: url(#first);
  height: 2.85em;
  bottom: -0.6em;
  left: 33%;
}

.pedestal-up__hero_first-img {
  width: 4.45em;
  height: auto;
  bottom: 2.65em;
  left: 1.9em;
}

.pedestal-up__icon-svg_first-svg {
  fill: #fcc211;
  height: 11.7em;
  width: 8.25em;
}

.pedestal-bottom_first-bottom {
  width: 9.15em;
  top: -1em;
}

.pedestal-bottom_first-bottom::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #fcc211;
}

.pedestal-bottom__name_first-name {
  background-color: #fcc211;
  border-color: #fcc211;
}

.pedestal-place_first-place {
  height: 11.1em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), to(rgba(255, 184, 74, 0.3)));
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(255, 184, 74, 0.3) 100%);
}

/* .second  */
.pedestal-up__count-bg_second-bg {
  fill: url(#second);
}

.pedestal-up__icon-svg_second-svg {
  fill: #c7c7c7;
}

.pedestal-bottom_second-bottom::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  -webkit-transform: matrix(1, 0.03, 0.03, 1, 0, 0);
          transform: matrix(1, 0.03, 0.03, 1, 0, 0);
}

.pedestal-bottom__name_second-name {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
}

.pedestal-place_second-place {
  margin-top: 2.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), to(rgba(217, 208, 228, 0.3)));
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(217, 208, 228, 0.3) 100%);
}

/* .third */
.pedestal-up__count-bg_third-bg {
  fill: url(#third);
}

.pedestal-up__icon-svg_third-svg {
  fill: #be8d69;
}

.pedestal-bottom_third-bottom::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #be8d69;
  -webkit-transform: matrix(1, -0.03, -0.03, 1, 0, 0);
          transform: matrix(1, -0.03, -0.03, 1, 0, 0);
}

.pedestal-bottom__name_third-name {
  background-color: #be8d69;
  border-color: #be8d69;
}

.pedestal-place_third-place {
  margin-top: 2.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 33, 67, 0)), to(rgba(238, 202, 148, 0.3)));
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(238, 202, 148, 0.3) 100%);
}

.leader-table {
  table-layout: fixed;
  width: 100%;
  border-radius: 10px;
  border-spacing: 0;
}

.leader-table__caption {
  font-family: AA BadaBoom BB;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #fcc211;
  padding-bottom: 78px;
  font-size: 35px;
  background-image: url(../img/Group.png);
  background-position: bottom -29px left -3px;
  background-repeat: repeat-x;
  width: calc(100% - 20px);
}

.table-body {
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dcdcdc;
}

.table-body :last-child {
  padding-right: 25px;
  text-align: end;
}

@media screen and (min-width: 700px) {
  .table-body :last-child {
    padding-right: 47px;
  }
}

.table-body th:first-child {
  width: 31%;
  padding-left: 15px;
  text-align: start;
}

@media screen and (min-width: 700px) {
  .table-body th:first-child {
    padding-left: 36px;
  }
}

.table-body td:first-child {
  padding-left: 25px;
}

@media screen and (min-width: 700px) {
  .table-body td:first-child {
    padding-left: 47px;
  }
}

.table-body__third {
  text-align: end;
  width: 19%;
  padding-right: 15px;
}

.table-body__second {
  width: 19%;
}

.table-body__four {
  width: 31%;
}

td {
  border-bottom: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 15px;
}

th {
  text-align: start;
  padding-right: 15px;
}

._vector-first {
  background-image: url(../img/svg/Vector1.svg);
  background-repeat: no-repeat;
  background-position: center left 15px;
}

@media screen and (min-width: 700px) {
  ._vector-first {
    background-position: center left 37px;
  }
}

._vector-second {
  background-image: url(../img/svg/Vector2.svg);
  background-repeat: no-repeat;
  background-position: center left 15px;
}

@media screen and (min-width: 700px) {
  ._vector-second {
    background-position: center left 37px;
  }
}

._vector-third {
  background-image: url(../img/svg/Vector3.svg);
  background-repeat: no-repeat;
  background-position: center left 15px;
}

@media screen and (min-width: 700px) {
  ._vector-third {
    background-position: center left 37px;
  }
}

.table-body_header {
  background-color: #fff;
  border-top-right-radius: 10px;
}

.table-body_first3place {
  background-color: #f3f3f3;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radius-box {
  border-radius: 10px;
  overflow: hidden;
}

.hero__button_pading-theme-white {
  margin-top: 27px;
  color: black;
}

.hero__button_pading-theme-white:hover, .hero__button_pading-theme-white:focus {
  -webkit-filter: drop-shadow(0 10px 10px white);
          filter: drop-shadow(0 10px 10px white);
}

.hero__button_pading-theme-white::after {
  background-color: white;
  border: 1px solid white;
}

.bg-container-up {
  width: 100%;
  min-width: 320px;
  height: 53.7%;
  position: absolute;
  top: 0;
  z-index: -200;
  background-attachment: scroll;
  background-position: center center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(68.13%, rgba(5, 7, 26, 0)), color-stop(99.19%, #05071a)), -webkit-gradient(linear, right top, left top, color-stop(1.41%, rgba(5, 7, 26, 0)), color-stop(32.32%, rgba(5, 7, 26, 0.86)), color-stop(46.2%, rgba(5, 7, 26, 0.69)), color-stop(61.48%, rgba(5, 7, 26, 0.84)), color-stop(71.8%, rgba(5, 7, 26, 0))), url(../img/02_TrollsBridge2_BackgroundUP.jpg);
  background-image: linear-gradient(180deg, rgba(5, 7, 26, 0) 68.13%, #05071a 99.19%), linear-gradient(270deg, rgba(5, 7, 26, 0) 1.41%, rgba(5, 7, 26, 0.86) 32.32%, rgba(5, 7, 26, 0.69) 46.2%, rgba(5, 7, 26, 0.84) 61.48%, rgba(5, 7, 26, 0) 71.8%), url(../img/02_TrollsBridge2_BackgroundUP.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .bg-container-up {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(68.13%, rgba(5, 7, 26, 0)), color-stop(99.19%, #05071a)), -webkit-gradient(linear, right top, left top, color-stop(1.41%, rgba(5, 7, 26, 0)), color-stop(32.32%, rgba(5, 7, 26, 0.86)), color-stop(46.2%, rgba(5, 7, 26, 0.69)), color-stop(61.48%, rgba(5, 7, 26, 0.84)), color-stop(71.8%, rgba(5, 7, 26, 0))), url(../img/02_TrollsBridge2_BackgroundUP@x2.jpg);
    background-image: linear-gradient(180deg, rgba(5, 7, 26, 0) 68.13%, #05071a 99.19%), linear-gradient(270deg, rgba(5, 7, 26, 0) 1.41%, rgba(5, 7, 26, 0.86) 32.32%, rgba(5, 7, 26, 0.69) 46.2%, rgba(5, 7, 26, 0.84) 61.48%, rgba(5, 7, 26, 0) 71.8%), url(../img/02_TrollsBridge2_BackgroundUP@x2.jpg);
  }
}

.bg-container-down {
  width: 100%;
  height: 53.3%;
  min-width: 320px;
  position: absolute;
  bottom: 0;
  z-index: -201;
  background-position: center center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-1.58%, #05071a), color-stop(52.62%, rgba(5, 7, 26, 0))), -webkit-gradient(linear, left top, left bottom, color-stop(64.74%, rgba(5, 7, 26, 0)), color-stop(99.19%, #05071a)), -webkit-gradient(linear, right top, left top, color-stop(1.41%, rgba(5, 7, 26, 0)), color-stop(22.46%, rgba(5, 7, 26, 0.56)), color-stop(46.2%, rgba(5, 7, 26, 0.8)), color-stop(69.94%, rgba(5, 7, 26, 0.592)), color-stop(87.41%, rgba(5, 7, 26, 0))), url(../img/02_TrollsBridge2_Backgroundbottom.jpg);
  background-image: linear-gradient(180deg, #05071a -1.58%, rgba(5, 7, 26, 0) 52.62%), linear-gradient(180deg, rgba(5, 7, 26, 0) 64.74%, #05071a 99.19%), linear-gradient(270deg, rgba(5, 7, 26, 0) 1.41%, rgba(5, 7, 26, 0.56) 22.46%, rgba(5, 7, 26, 0.8) 46.2%, rgba(5, 7, 26, 0.592) 69.94%, rgba(5, 7, 26, 0) 87.41%), url(../img/02_TrollsBridge2_Backgroundbottom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .bg-container-down {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-1.58%, #05071a), color-stop(52.62%, rgba(5, 7, 26, 0))), -webkit-gradient(linear, left top, left bottom, color-stop(64.74%, rgba(5, 7, 26, 0)), color-stop(99.19%, #05071a)), -webkit-gradient(linear, right top, left top, color-stop(1.41%, rgba(5, 7, 26, 0)), color-stop(22.46%, rgba(5, 7, 26, 0.56)), color-stop(46.2%, rgba(5, 7, 26, 0.8)), color-stop(69.94%, rgba(5, 7, 26, 0.592)), color-stop(87.41%, rgba(5, 7, 26, 0))), url(../img/02_TrollsBridge2_Backgroundbottom@x2.jpg);
    background-image: linear-gradient(180deg, #05071a -1.58%, rgba(5, 7, 26, 0) 52.62%), linear-gradient(180deg, rgba(5, 7, 26, 0) 64.74%, #05071a 99.19%), linear-gradient(270deg, rgba(5, 7, 26, 0) 1.41%, rgba(5, 7, 26, 0.56) 22.46%, rgba(5, 7, 26, 0.8) 46.2%, rgba(5, 7, 26, 0.592) 69.94%, rgba(5, 7, 26, 0) 87.41%), url(../img/02_TrollsBridge2_Backgroundbottom@x2.jpg);
  }
}

.troll {
  position: absolute;
  z-index: -100;
  width: 30.8vw;
  height: 34.3vw;
  max-width: 431px;
  max-height: 481px;
  min-width: 143px;
  min-height: 174px;
}

@media screen and (min-width: 320px) {
  .troll {
    bottom: 57%;
  }
}

@media screen and (min-width: 420px) {
  .troll {
    bottom: 60%;
  }
}

@media screen and (min-width: 700px) {
  .troll {
    bottom: 56%;
  }
}

@media screen and (min-width: 800px) {
  .troll {
    bottom: 54%;
  }
}

@media screen and (min-width: 1200px) {
  .troll {
    bottom: 42%;
  }
}

.right {
  left: 4%;
  background-size: contain;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(5, 7, 26, 0)), color-stop(92.17%, #09091c)), url(../img/03_TrollsBridge2_Characterright.png);
  background-image: linear-gradient(180deg, rgba(5, 7, 26, 0) 50%, #09091c 92.17%), url(../img/03_TrollsBridge2_Characterright.png);
  background-repeat: no-repeat;
}

.left {
  right: 4%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(5, 7, 26, 0)), color-stop(92.17%, #09091c)), url(../img/01_TrollsBridge2_Characterleft.png);
  background-image: linear-gradient(180deg, rgba(5, 7, 26, 0) 50%, #09091c 92.17%), url(../img/01_TrollsBridge2_Characterleft.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */