.hero__button {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  perspective: 200px;
  border: 0px solid;
  font-weight: bold;
  font-size: 18px;
  font-family: Merriweather Sans;
  padding-bottom: 17px;
  padding-top: 17px;
  padding-right: 83px;
  padding-left: 83px;
  position: relative;
  cursor: pointer;
  max-width: 100%;
  color: white;
  box-sizing: border-box;
  border: 0px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 0;
    top: 0;
    cursor: pointer;
    background-color: $btn-color;
    border: 1px solid $btn-color;
    border-radius: 15px;
    outline: 1px solid transparent;
    /* transform: rotate3D(1, 0, 0, -15deg) skewX(0deg) translateX(0px); */
  }
  &:hover,
  &:focus {
    filter: blur(2px);
    filter: drop-shadow(0 10px 10px #e9453a);
    transition: all 0.5s ease;
  }
}
