.hero-table {
  table-layout: fixed;
  width: 100%;
  border-radius: 10px;
  border-spacing: 0;
  &-cap {
    font-family: AA BadaBoom BB;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.06em;
    color: $heder-color;
    padding-bottom: 78px;
    font-size: 35px;
  }
  &-box {
    background-image: url(../img/Group.png);
    background-position: bottom -29px left -3px;
    background-repeat: repeat-x;
    width: 95%;
  }
  &-body {
    height: 38px;
    align-items: center;
    background-color: #dcdcdc;
    & :last-child {
      padding-right: 25px;
      text-align: end;
      @media screen and (min-width: 700px) {
        padding-right: 47px;
      }
    }
    & th:first-child {
      width: 31%;
      padding-left: 15px;
      text-align: start;
      @media screen and (min-width: 700px) {
        padding-left: 36px;
      }
    }
    & td:first-child {
      padding-left: 25px;
      @media screen and (min-width: 700px) {
        padding-left: 47px;
      }
    }
    &-third {
      text-align: end;
      width: 19%;
      padding-right: 15px;
    }
    &-second {
      width: 19%;
    }
    &-four {
      width: 31%;
    }
  }
  /*   &-btn {
    &:hover,
    &:focus {
      filter: blur(2px);
      filter: drop-shadow(0 10px 10px white);
      transition: all 0.5s ease;
      fill: white;
    }
    &-svg {
      position: relative;
      width: 240px;
      height: 51px;
      fill: white;
    }
    &-span {
      font-family: Merriweather Sans;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  } */
}
td {
  border-bottom: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 15px;
}
th {
  text-align: start;
  padding-right: 15px;
}
.vector {
  background-repeat: no-repeat;
  background-position: center left 15px;
  @media screen and (min-width: 700px) {
    background-position: center left 37px;
  }
}
.first {
  background-image: url(../img/svg/Vector1.svg);
}
.second {
  background-image: url(../img/svg/Vector2.svg);
}
.third {
  background-image: url(../img/svg/Vector3.svg);
}
.header {
  background-color: #fff;
  border-top-right-radius: 10px;
}
.first3place {
  background-color: #f3f3f3;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-radius {
  border-radius: 10px;
  overflow: hidden;
}
