.leader-table {
  table-layout: fixed;
  width: 100%;
  border-radius: 10px;
  border-spacing: 0;
  &__caption {
    font-family: AA BadaBoom BB;
    text-align: center;
    line-height: 1;
    letter-spacing: 0.06em;
    color: $heder-color;
    padding-bottom: 78px;
    font-size: 35px;
    background-image: url(../img/Group.png);
    background-position: bottom -29px left -3px;
    background-repeat: repeat-x;
    width: calc(100% - 20px);
  }
}
.table-body {
  height: 38px;
  align-items: center;
  background-color: #dcdcdc;
  & :last-child {
    padding-right: 25px;
    text-align: end;
    @media screen and (min-width: 700px) {
      padding-right: 47px;
    }
  }
  & th:first-child {
    width: 31%;
    padding-left: 15px;
    text-align: start;
    @media screen and (min-width: 700px) {
      padding-left: 36px;
    }
  }
  & td:first-child {
    padding-left: 25px;
    @media screen and (min-width: 700px) {
      padding-left: 47px;
    }
  }
  &__third {
    text-align: end;
    width: 19%;
    padding-right: 15px;
  }
  &__second {
    width: 19%;
  }
  &__four {
    width: 31%;
  }
}
td {
  border-bottom: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 15px;
}
th {
  text-align: start;
  padding-right: 15px;
}
._vector-first {
  background-image: url(../img/svg/Vector1.svg);
  background-repeat: no-repeat;
  background-position: center left 15px;
  @media screen and (min-width: 700px) {
    background-position: center left 37px;
  }
}
._vector-second {
  background-image: url(../img/svg/Vector2.svg);
  background-repeat: no-repeat;
  background-position: center left 15px;
  @media screen and (min-width: 700px) {
    background-position: center left 37px;
  }
}
._vector-third {
  background-image: url(../img/svg/Vector3.svg);
  background-repeat: no-repeat;
  background-position: center left 15px;
  @media screen and (min-width: 700px) {
    background-position: center left 37px;
  }
}
.table-body_header {
  background-color: #fff;
  border-top-right-radius: 10px;
}
.table-body_first3place {
  background-color: #f3f3f3;
}
.flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.radius-box {
  border-radius: 10px;
  overflow: hidden;
}
.hero__button_pading-theme-white {
  margin-top: 27px;
  color: black;
  &:hover,
  &:focus {
    filter: drop-shadow(0 10px 10px white);
  }

  &::after {
    background-color: white;
    border: 1px solid white;
  }
}
